main,
aside {
  padding: 16px;
}
a {
  text-decoration: none;
}
h1 {
  margin-bottom: 12px;
}
.button {
  border: none;
  padding: 4px 8px;
  color: white;
  background-color: dodgerblue;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.container {
  display: flex;
  min-height: 100vh;
  main {
    div {
      * {
        margin-bottom: 12px;
      }
    }
  }
  .side-bar {
    width: 20%;
    background-color: hsl(0, 0%, 80%);
    a {
      color: hsl(0, 0%, 20%);
      &.active,
      &:hover {
        color: dodgerblue;
        text-decoration: underline;
      }
    }
    .links {
      margin-top: 16px;
      li {
        margin-bottom: 10px;
        list-style-type: none;
      }
    }
  }
}
.form-container {
  padding: 24px;
  &,
  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .error {
      text-align: center;
    }
    button {
      margin: 12px;
    }
  }
}
